<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="TMDB_API_KEY" value="1832136f1eaafcbfa0dec5c053322997"/>
        <add key="MAX_CONCURRENT_FETCHES" value="5"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
